<p>
  product works!
</p>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="./product-summary" routerLinkActive="active">Product Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./product-details" routerLinkActive="active">Product Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./product-documentation" routerLinkActive="active">Product Documentation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./product-contact" routerLinkActive="active">Contact</a>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
