<div class="modal-header">
  <h4 class="modal-title">Filter</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="section">
    <strong>Type</strong>
  </div>
  <div class="content">
    <div *ngFor="let t of typePropsListValuesDtosWithoutYear; let i=index">
      <label><strong>{{ t.Name }}</strong></label>
      <div class="form-check-inline" *ngFor="let s of t.ListValues">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [name]="t.Name" [value]="s"
            [(ngModel)]="selectedTypeValue[i]">{{ s }}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label><strong> Model Year:</strong></label>
      </div>
      <div class="col">
        <input type="number" class="form-control" [(ngModel)]="minYear" />
      </div>
      __
      <div class="col">
        <input type="number" class="form-control" [(ngModel)]="maxYear" />
      </div>
    </div>

  </div>

  <div class="section">
    <strong>Technical Details</strong>
  </div>
  <div class="content">
    <div *ngFor="let options of ListOptions; let i = index">
      <label class="tech"><strong>{{ filterDto.TechPropsMinMaxValueDtos[i].Name }}</strong></label>
      <ng5-slider [(value)]="filterDto.TechPropsMinMaxValueDtos[i].MinValue"
        [(highValue)]="filterDto.TechPropsMinMaxValueDtos[i].MaxValue" [options]="options">
      </ng5-slider>
    </div>
  </div>


  <div class="section">
    <strong>Manufacturers</strong>
  </div>
  <div class="content">
    <label>Manufacturer</label>
    <select class="custom-select" style="width:200px;" [(ngModel)]="selectedManufacturer">
      <option value="-1">All</option>
      <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.Id">
        {{ manufacturer.Name }}
      </option>
    </select>
  </div>

</div>
<div class="modal-footer">
  <span *ngIf="invalidYears" style="color:red">Invalid Years. Please try again.</span>
  <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
  <button id="close" type="button" class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')">Cancel</button>
</div>
