<div class="input-group mb-3">
  <select class="custom-select temp" id="inputGroupSelect01">
    <option selected>Category</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <select class="custom-select" id="inputGroupSelect02">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <button type="submit" class="btn btn-primary" (click)="OnSearch()">Search</button>
</div>