.front-page {
    background: linear-gradient(to bottom, #71bbdd 2%,#e4f5fc 65%);
    height: 100vh;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-front-page {
    width: 350px;
    height: 350px;
}